.ok {
  font-size: 3em;
}

.sidebar {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: fixed;
  width: 320px;
  height: 100%;
  z-index: 1000;
  overflow: auto;
  right: 0;
  transition: transform 0.4s, visibility 0.4s;
  will-change: transform, visibility;
  background-color: white;
}

.show-side-bar {
  transform: translateX(0);
}
.hidde-side-bar {
  transform: translateX(100%);
}

.sidebar .sidebar_heard {
  display: flex;
  padding-left: 2em;
  padding-right: 2em;
  align-items: center;
  height: 7em;
  background-color: #1f4b3f;
  border-bottom-right-radius: 70%;
}

.sidebar .sidebar_heard .close-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  border: 1px solid #26564f;
  color: white;
  height: 2em;
  width: 2em;
  font-size: 1.5em;
  border-radius: 100%;
  transition: ease-in 0.3s background-color;
}
.sidebar_heard .close-icon:hover {
  cursor: pointer;
  background-color: #26564f;
}
.sidebar_heard .text-big {
  font-size: 1.8em;
  color: white;
  cursor: pointer;
}

.sidebar .top-items .item,
.sidebar .bottom-items .item {
  display: flex;
  gap: 15px;
  padding: 1em;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 0.5em;
  transition: ease-in 0.3s background-color, ease-in 0.3s color;
}
.sidebar .top-items .item:hover,
.sidebar .bottom-items .item:hover {
  cursor: pointer;
  background-color: rgba(38, 86, 79, 0.3);
}
.sidebar .top-items .item .text-medium,
.sidebar .bottom-items .item .text-medium {
  font-size: 1.2em;
  font-weight: 500;
  transition: ease-in 0.3s color;
}
.sidebar .top-items .item:hover .text-medium,
.sidebar .bottom-items .item:hover .text-medium {
  color: #1f4b3f;
}

.sidebar .icon-small {
  font-size: 2em;
  transition: ease-in 0.3s color;
}
.sidebar .top-items .item:hover .icon-small,
.sidebar .bottom-items .item:hover .icon-small {
  color: #1f4b3f;
}
.sidebar .active {
  background-color: rgba(38, 86, 79, 0.3);
  color: #1f4b3f;
}
.sidebar .bottom-items {
  border-top: 1px solid rgb(216, 216, 216);
}

@media screen and (max-width: 1024px) {
  header {
    background-color: white;
    border-bottom: solid 1px rgb(222, 222, 222);
  }
}

/* ********************************
 PROFIL MENU STYLES ****************
 ***********************************/
.avatar-conatainer {
  .user-menu {
    top: 3.56rem;
    right: -2.5rem;
    width: max-content;
    padding: 2.3rem;
    z-index: 99;
    background: #fff;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s ease;
    transition-delay: 0.2s;

    .user-menu-container {
      ul {
        li {
          margin-bottom: 0.3rem;
          font-weight: 400;
          font-size: 15px;
          cursor: pointer;
          transition: background-color 0.3s ease-in, color 0.3s ease;
          border-radius: 5px;
          i {
            font-size: 1.3rem;
            color: #1f4b3f;
          }
        }
        li:hover {
          i {
            color: #fff;
          }
          color: #fff;
          background: #26564f;
        }
      }
    }
  }
  &:hover .user-menu,
  .user-menu:hover {
    // Styles pour rendre le menu visible lors du survol
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
  }
}
