@media screen and (max-width: 1200px) {
  div.t-services {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .t-services .t-service-header h2 {
    font-size: 1.3rem;
  }
  .t-services .t-service-header span {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 568px) {
  .t-service-header {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    display: flex !important;
    flex-direction: column !important;
    gap: 1.5rem !important;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
