.needs {
  z-index: 10;
}

.needs-and-cat-separator {
  border-color: rgb(17 94 89 / var(--tw-border-opacity));
}
.see-more-link {
  background-color: rgba(86, 225, 146, 0.178);
  padding: 3px;
  border-radius: 5px;
  color: rgba(86, 225, 146, 0.985);
}

@media screen and (max-width: 768px) {
  div.needs h2 {
    font-size: 1.2rem !important;
  }
  div.needs .needs-content {
    display: flex !important;
    flex-direction: column !important;
  }
}

@media screen and (max-width: 1024px) {
  .needs {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  div.needs h2 {
    font-size: 1.3rem;
  }

  div.needs .needs-content {
    display: grid;
    grid-template-columns: 2fr 2fr;
  }

  div.needs .needs-content i {
    font-size: 2rem;
  }
}

@media screen and (max-width: 1270px) {
  .needs {
    padding-top: 2.2rem;
    padding-bottom: 2.2rem;
  }

  div.needs h2 {
    font-size: 1.7rem;
  }

  div.needs .needs-content h3 {
    font-size: 1.1rem;
  }

  div.needs .needs-content i {
    font-size: 2.3rem;
  }
}
