.needs{
    z-index: 10;
}

@media screen and (max-width: 767px){
   
    div.needs h2{
        font-size: 1.2rem !important;
    }
   
}

@media screen and (max-width: 1024px){
    .needs{
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    div.needs h2{
        font-size: 1.3rem;
    }

    div.needs .needs-content{
        display: grid;
        grid-template-columns: 2fr 2fr;
    }

    

    div.needs .needs-content i{
        font-size: 2rem;
    }

}

@media screen and (max-width: 1270px){
    .needs{
        padding-top: 2.2rem;
        padding-bottom: 2.2rem;
    }

    div.needs h2{
        font-size: 1.7rem;
    }

    div.needs .needs-content h3{
        font-size: 1.1rem;
    }

    div.needs .needs-content i{
        font-size: 2.3rem;
    }

}