/********************** 
*
*   CATEGORIES STYLE CONFIG
*
***********************/
:root {
  --primary-color: #ff6b6b;
  --cat-secondary-color: #5bbb7b;
  --secondary-dark-color: #453c5c;

  --white-color: #ffffff;
  --light-bg-color: #f2f3f5;
  --light-text-color: #7c899a;
  --border-color: #e5e8ec;
  --dark-color: #0a021c;
  --stars-color: #e1c03e;

  --font-small: 13px;
  --font-smaller: 11px;

  --percent100: 100%;
  --percent50: 50%;

  --fw3: 300;
  --fw5: 500;
  --fw6: 600;
  --fw7: 700;
  --fw8: 800;

  --trans-background-color: background-color 0.3s ease-in, color 0.3s ease-in;
  --trans-background: background-color 0.3s;
  --trans-color: color 0.3s;
}

.categories {
  font-family: "DM Sans", sans-serif;
  font-weight: 300;
}

.categories .banner,
.single_service_details .banner {
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 18em;
  border-radius: 1em;
}
.categories .banner {
  background-image: url("./banner3.jpg");
}

.categories .banner .banner-title {
  font-size: 2em;
  line-height: 1.7;
}
.categories .banner .small-text {
  font-size: 15px;
}
.categories .banner .banner-demo-container {
  display: flex;
  margin-top: 2.3em;
  gap: 0.8em;
  align-items: center;
}
.categories .banner .banner-demo-container div {
  width: 3em;
  height: 3em;
  border: 1px solid --border-color;
  background-color: #ffffff;
  border-radius: 100%;
  transition: var(--trans-background-color);
}
.banner .banner-demo-container div:hover {
  background-color: #ac0707;
  color: var(--white-color);
  cursor: pointer;
}
.categories .filter-container {
  display: flex;
  justify-content: space-between;
  gap: 1em;
}
.categories .filter-container .filter-buttons {
  display: flex;
  gap: 1em;
}
.filter-container .filter-buttons button {
  border: 1px solid var(--border-color);
  padding: 0.6em;
  border-radius: 0.3em;
}
.filter-container .filter-buttons button:first-child {
  background-color: rgba(15, 151, 101, 0.08);
  transition: var(--trans-background-color);
}
.filter-container .filter-buttons button:first-child:hover {
  cursor: pointer;
  color: var(--white-color);
  background-color: var(--cat-secondary-color);
  /* border: 1px solid var(--cat-secondary-color); */
}
.filter-container .filter-buttons button:nth-child(2) {
  width: 11.2em;
  display: flex;
  justify-content: space-between;
}
.categories .filter-container .selected-options {
  display: none;
  opacity: 0;
  background-color: var(--white-color);
  z-index: 10;
  width: 11.2em;
  border: 1px solid var(--border-color);
  border-radius: 0.3em;
  transition: 0.3s ease opacity 0.3s ease display;
  will-change: display opacity;
}
.show-options {
  display: block !important;
  opacity: 1 !important;
}
.categories .filter-container .selected-options ul li {
  padding: 0.3em 1em 0.3em 1em;
  transition: var(--trans-background);
}
.categories .filter-container .selected-options ul li:hover {
  background-color: #c9c8c877;
  cursor: pointer;
}
.categories .filter-container .selected-options ul li.active {
  background-color: #c9c8c8;
}

.categories .cat-service-cards {
  display: flex;
  justify-items: center;
  flex-wrap: wrap;
  gap: 2em;
}
.categories .cat-service-cards .flex-item {
  flex: 0 0 23.2%; /* 25% de la largeur du conteneur pour afficher 4 éléments par ligne */
  box-sizing: border-box;
}
.categories .paginator,
.categories .paginator div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.categories .paginator div {
  height: 2.7em;
  width: 2.7em;
  border-radius: 100%;
  border: solid 1px var(--border-color);
  cursor: pointer;
}
.categories .paginator .active {
  background-color: #5bbb7b;
  color: var(--white-color);
  border: 1px solid #5bbb7b;
}
.categories .paginator div:nth-child(2) {
  transition: var(--trans-background-color);
}
.categories .paginator div:nth-child(2):hover {
  background-color: #5bbb7b;
  color: var(--white-color);
  border: 1px solid #5bbb7b;
}
.categories .paginator div:nth-child(3) {
  transition: ease-in 0.3s transform, ease-in 0.3s border-color;
}
.categories .paginator div:nth-child(3):hover {
  transform: scale(1.2);
  border-color: black;
}

/* CAT SIDE FILTER */
.categories .cat-side-filter {
  position: fixed;
  top: 0;
  width: 360px;
  height: 100vh;
  z-index: 1000;
  overflow: auto;
  transition: transform 0.4s, visibility 0.4s;
  will-change: transform, visibility;
  background-color: white;
  padding: 0 1.5em 0 1.5em;
}
.show-cat-side-filter {
  transform: translateX(0%);
}

.hide-cat-side-filter {
  transform: translateX(-100%);
}
.categories .filter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2em 0 1.2em 0;
  border-bottom: 1px solid var(--border-color);
}
.filter-header h3 {
  font-weight: 500;
  font-size: 1.2em;
}
.filter-header .close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5em;
  height: 2.5em;
  background-color: #5bbb7b28;
  border-radius: 5px;
  transition: var(--trans-background-color);
}
.filter-header .close-button:hover {
  background-color: #5bbb7b;
  color: var(--white-color);
  cursor: pointer;
}
.cat-side-filter .filter-section {
  padding: 1.2em 0 1.2em 0;
  display: flex;
  flex-direction: column;
  gap: 1em;
  border-bottom: 1px solid var(--border-color);
}
.cat-side-filter h3.title {
  font-weight: 400;
  font-size: 1.3em;
}
.cat-side-filter .filter-section .filter-cat-body :where(ul) li {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 0.5em;
  gap: 0.75em;
  font-weight: 300;
  font-size: 16px;
}
.cat-side-filter .filter-section .filter-cat-body .show {
  color: #5bbb7b;
  font-weight: 500;
}
.cat-side-filter .filter-section .filter-cat-body .show-text {
  text-decoration: underline;
  cursor: pointer;
}
.cat-side-filter .filter-section select {
  height: 3.6em;
  outline-color: var(--border-color);
  border-radius: 5px;
  background-color: rgb(249, 249, 249);
  border: 1px solid var(--border-color);
  padding-left: 1em;
  padding-right: 1em;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url("drop-down.png") no-repeat right center;
}
.cat-side-filter .filter-section select option:nth-child(1) {
  font-size: 3em;
}

.cat-side-filter .filter-location {
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  background-color: rgb(249, 249, 249);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  height: 3.6em;
}
.cat-side-filter .filter-section .buget-min-max {
  display: flex;
  padding-left: 1em;
  padding-right: 0;
  justify-content: space-between;
}
.cat-side-filter .filter-section .buget-min-max div {
  background-color: #5bbb7b47;
  color: #5bbb7b;
  font-weight: 500;
  padding: 0.3em 0.75em 0.3em 0.75em;
  border-radius: 5px;
}

.cat-side-filter .filter-section .ranger div.slider {
  height: 5px;
  position: relative;
  background-color: var(--border-color);
  border-radius: 5px;
}
.cat-side-filter .filter-section .ranger div.slider .progress {
  height: 5px;
  position: absolute;
  left: 0;
  right: 0;
  background-color: #5bbb7b;
}
.cat-side-filter .filter-section .ranger .range-inputs {
  position: relative;
}
.ranger .range-inputs input {
  position: absolute;
  top: -5px;
  height: 5px;
  width: 100%;
  -webkit-appearance: none;
  background: none;
  pointer-events: none;
}
input[type="range"]::-webkit-slider-thumb {
  height: 17px;
  width: 17px;
  -webkit-appearance: none;
  border: 3px solid #5bbb7b;
  background-color: var(--white-color);
  border-radius: 50%;
  pointer-events: auto;
}
.cat-side-filter .filte-footer button {
  font-weight: 500;
  transition: var(--trans-background-color), 0.3s ease border;
}
.cat-side-filter .filte-footer button:hover {
  background-color: white;
  color: #5bbb7b;
  border: 1px solid #5bbb7b;
}

/************************************************************************************************** 
***************************************************************************************************
*
* SINGLE SERVICE PAGE STYLE START HERE
*
***************************************************************************************************
***************************************************************************************************/
.icon-container {
  display: flex;
  gap: 2em;
}
.icon-container i {
  font-size: 1.2em;
}
.share-container,
.save-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}
.share-container .share-with {
  position: absolute;
  top: -3.5em;
  display: none;
  opacity: 0;
  transition: ease-out 0.3s display;
  will-change: opacity display;
}
div.d {
  display: flex;
  padding-top: 0.3em;
  align-items: center;
  justify-content: center;
  height: 2.1em;
  width: 2.1em;
  border-radius: 100%;
  color: var(--light-text-color);
  border: solid 1px var(--border-color);
  transition: ease 0.3s color, ease 0.3s border-color,
    ease 0.3s background-color;
}
.icon-container small {
  transition: ease 0.3s color;
}
.save-container:hover,
.share-container:hover {
  cursor: pointer;
  color: var(--cat-secondary-color);
}

.save-container:hover div.d,
.share-container:hover div.d {
  color: var(--white-color);
  border-color: var(--cat-secondary-color);
  background-color: var(--cat-secondary-color);
}

.share-container:hover .share-with {
  display: flex;
  border: 1px solid var(--border-color);
  opacity: 1;
  gap: 2em;
  padding: 0.75em;
  z-index: 20;
  background-color: var(--white-color);
}
.share-with .icon-small {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light-text-color);
  height: 2.1em;
  width: 2.1em;
  border-radius: 100%;
  transition: var(--trans-background-color);
}
.share-with .icon-small:hover {
  background-color: #5bbb7b58;
  color: #5bbb7b;
}

.single_service_details form {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
}

.single_service_details form input,
.single_service_details form textarea {
  border: solid 1px var(--border-color);
  padding: 0 0.75em;
  border-radius: 7px;
}
.single_service_details form input {
  height: 50px;
}
.single_service_details form textarea {
  outline: none;
  padding-top: 0.75em;
}
.single_service_details form button:last-child,
.sigle-service-body button {
  height: 65px;
  border: 2px solid var(--cat-secondary-color);
  border-radius: 7px;
  color: var(--cat-secondary-color);
  font-weight: 800;
  transition: var(--trans-background-color);
}
.single_service_details form button:last-child:hover,
.sigle-service-body button:hover {
  background-color: var(--cat-secondary-color);
  color: var(--white-color);
}

.single_service_details .banner {
  background-image: url("./banner1.jpg");
}

.sigle-service-body {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
.sigle-service-body .rigth {
  width: 65%;
}
.sticky-r {
  position: absolute;
  padding: 0 0.75em;
  top: -8em;
  right: 0;

  width: 30%;
}
.sigle-service-body .price-container {
  padding-bottom: 15px;
  border-bottom: 1px solid var(--border-color);
}
.sigle-service-body .sup-option-price {
  text-align: right;
}
.sigle-service-body button {
  width: 100%;
}
.sigle-service-body button.first-chirld {
  background-color: var(--cat-secondary-color);
  color: var(--white-color);
}
.sigle-service-body button.first-chirld:hover {
  background-color: var(--white-color);
  color: var(--light-text-color);
}

.sigle-service-body .options-container,
.sigle-service-body .prestator-infos {
  padding: 1.5em;
  background-color: white;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  margin-bottom: 2em;
}
.sigle-service-body .options-container h2 {
  font-weight: 800;
  font-size: 1.7em;
  line-height: 1.7;
}
.sigle-service-body .single-option {
  padding: 0.6em;
  background-color: #e5e8ec3d;
  margin-bottom: 0.5em;
}
.sigle-service-body .single-option h3 {
  font-weight: 500;
  padding: 0.75em 0;
}
.sigle-service-body .prestator-infos h3 {
  font-weight: 600;
  line-height: 2;
  font-size: 1.2em;
}
.sigle-service-body .pretator-profil h3 {
  font-weight: 400;
  line-height: 1.2;
}
.sigle-service-body .prestator-infos small {
  color: rgb(140, 140, 140);
  line-height: 2;
}
.prestator-infos div.reviews {
  font-size: 0.8em;
}

.service-description {
  padding-bottom: 2em;
}
.service-description .transparant {
  height: 2.5em;
  width: 2.5em;
  background-color: #d89f0f2e;
  top: 40%;
  right: -0.75em;
  border-radius: 100%;
}
.service-description .desc-text span {
  font-weight: 500;
}
.service-description .desc-text small {
  font-weight: 400;
  font-size: 0.95em;
}

.rigth .carousel-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 50px;
  border-radius: 5px;
  background-color: var(--dark-color);
}
.rigth .carousel-slider ul.control-dots,
.rigth .carousel-slider p.carousel-status {
  display: none;
}
.rigth .carousel-slider button.control-arrow {
  top: 45%;
  background-color: rgba(255, 255, 255, 0.473);
  opacity: 1;
  color: black;
  width: 2em;
  height: 2em;
  border-radius: 100%;
}

.rigth .carousel-slider button.control-next {
  right: 0;
}
/* *********************
* SERVICE DESCRIPTION
************************/
.service-description {
  h2 {
    color: rgb(71, 71, 71);
    font-size: 1.3em;
    font-weight: 500;
  }
  p.text-small {
    color: rgb(71, 71, 71);
    line-height: 1.6;
    font-weight: 300;
  }
  .descriptions {
    margin-top: 2.5em;
    h2 {
      padding-top: 0.75em;
      padding-bottom: 0.75em;
    }
    p.text-small {
      padding-bottom: 1.5em;
      padding-top: 0.75em;
    }
    .other-provide-services {
      font-weight: 300;
      color: rgb(71, 71, 71);
    }
    .work-tools {
      margin-top: 2.3em;
    }
  }

  .accordeon {
    padding-top: 2.5em;
    padding-bottom: 2em;

    div.collapse-title {
      font-size: 1.1em;
      font-weight: 300;
    }
  }
}
.ratting-area {
  .review-score {
    h2 {
      font-size: 1.4em;
      line-height: 2;
      font-weight: 400;
      color: #52565c;
    }
    .score-card {
      display: flex;
      gap: 1.25em;
      align-items: center;
      justify-content: start;
      .score {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 35%;
        height: 15em;
        border-radius: 10px;
        background-color: #fcede8;
        h1 {
          font-size: 3.5em;
          line-height: 1;
          font-weight: bolder;
          color: var(--stars-color);
          margin-bottom: 0.1em;
        }
        .stars {
          display: flex;
          svg {
            margin: 0 0.1em 0 0.1em;
            width: 0.9em;
            height: 0.9em;
          }
        }
        span {
          margin-top: 0.3em;
          color: #52565c;
        }
      }
    }
    .scores-percent {
      display: flex;
      flex-direction: column;
      width: 65%;

      .star-line-percent {
        display: flex;
      }
    }
    .scores-percent {
      display: flex;
      flex-direction: column;
      gap: 1em;

      .rate-line-percent {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.15em;

        span:nth-child(2) {
          display: none;
        }
      }
      .progress {
        height: 0.5em;
        border-radius: none;
      }
      .progress-warning::-moz-progress-bar {
        --tw-bg-opacity: 1;
        background-color: hsl(var(--wa) / var(--tw-bg-opacity));
      }
      .progress-warning:indeterminate {
        --progress-color: hsl(var(--wa));
      }
      .progress-warning::-webkit-progress-value {
        --tw-bg-opacity: 1;
        background-color: hsl(var(--wa) / var(--tw-bg-opacity));
      }
    }
  }
}
.review-comment {
  padding-top: 2.5em;

  .text-bold {
    font-size: 1.3em;
    font-weight: 600;
    padding-top: 0.5em;
  }
  .text-small {
    color: #676d75;
  }
  .inputs {
    input {
      outline: none;
    }
    span {
      font-weight: 600;
    }
    .comment-input,
    .email-input,
    .name-input {
      display: flex;
      flex-direction: column;
    }
    .name-email-inputs {
      margin-top: 1.5em;
      display: flex;
      gap: 1.5em;
      .email-input,
      .name-input {
        width: 50%;
      }
    }
    .check-box {
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 0.5em;
    }

    button {
      margin-top: 2em;
      width: 30%;
    }
  }
}
.related-services-area {
  .related-services {
    display: flex;
    gap: 1em;
  }
}
