@media screen and (max-width: 1440px){
    div.proof-section{
        padding-left: 0;
        padding-right: 0;
    }
}


@media screen and (max-width: 1100px){
    .proof-container{
        padding-bottom: 0;
        padding-top: 0;
    }

    .f-right{
        padding-left: 1rem;
    }

    .f-right h2{
        font-size: 1.7rem;
    }

    .f-right h3{
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 869px){

    .proof-section{
        padding-bottom: 0;
        padding-top: 0;
    }

    .f-right h2{
        font-size: 1.3rem;
    }

    .f-right h3{
        font-size: 1rem;
    }
    .f-right p{
        font-size: 0.9rem;
    }

    .f-right i{
        font-size: 1.7rem;
    }
    .f-right{
        padding-left: 0rem;
    }

    .f-left div.note{
        transform: scale(0.6);
        top: 25%;
        left: -5rem;
    }
}

@media screen and (max-width: 766px){
    .proof-container{
        display: grid;
    }

    .f-right, .f-left{
        width: 100%;
    }

    

    .f-left{
        margin-top: 1.5rem;
    }

    
}