@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: O;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

.m-container{
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 0.938em;

}

.blurr{
  /* background: rgb(193, 245, 255); top: 17rem; width: 21rem; height: 11rem; left: -9rem; */
  /* background: #edd0ff; */
  border-radius: 50%;
  -webkit-filter: blur(72px);
  filter: blur(200px);
  height: 4rem;
  position: absolute;
 
 
  z-index: -9;
}

.blur_1{
  background-color: aqua;
}

.blur_2{
  background-color: blueviolet;
}

.mask{
  background-color: rgba(250, 235, 215, 0.396);
  z-index: -100;
}

input[type="text"] {
  /* Réinitialisation des styles par défaut */
  border: none;
  outline: none;
  color: #000;
  padding: 0;
  margin: 0;
  /* Autres styles personnalisés */
  /* ... */
}

h2{
  font-size: 1.5rem;
  font-weight: 600;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-item {
  width: 48%; /* Chaque enfant prendra 50% de la largeur du conteneur */
}

.flex-item1{
  width: 50%;
}

.flex-item1-h{
  height: 50%;
}

.po-link:hover .acess .p-link{
  color: #5BBB7B;
  text-decoration: underline;
}



div.add-to-favorite:hover i{
  color: white;
}



/*******************$ 
* REUTILISABLE
*********************/

/* WRAPPER */
.wrapper-content {
  padding-left: 5em;
  padding-right: 5em;
}

/* SERVICE CARD */
.service-carde {
 width: 20em;
}
.service-carde .favorite-contaner{
  margin-right: 0.70em;
}
.service-carde p.first-link, .service-carde div.second-link p{
  transition: ease-in .3s color;
}
.service-carde:hover p.first-link{
  color: #5BBB7B;
}
.service-carde div.second-link:hover p{
  color: #5BBB7B;
}

/* OVERLAY */
.overlay{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.4);
  visibility: hidden;
  opacity: 0;
  will-change: visibility, opacity;
}
.show-overlay{
  cursor: not-allowed;
   opacity: 1;
  visibility: inherit;
  height: 100vh;
}





