@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: O;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}
html {
  scroll-behavior: smooth;
}

.m-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 0.938em;
}

.blurr {
  /* background: rgb(193, 245, 255); top: 17rem; width: 21rem; height: 11rem; left: -9rem; */
  /* background: #edd0ff; */
  border-radius: 50%;
  -webkit-filter: blur(72px);
  filter: blur(200px);
  height: 4rem;
  position: absolute;

  z-index: -9;
}

.blur_1 {
  background-color: aqua;
}

.blur_2 {
  background-color: blueviolet;
}

.mask {
  background-color: rgba(250, 235, 215, 0.396);
  z-index: -100;
}

input[type="text"] {
  /* Réinitialisation des styles par défaut */
  border: none;
  outline: none;
  color: #000;
  padding: 0;
  margin: 0;
  /* Autres styles personnalisés */
  /* ... */
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-item {
  width: 48%; /* Chaque enfant prendra 50% de la largeur du conteneur */
}

.flex-item1 {
  width: 50%;
}

.flex-item1-h {
  height: 50%;
}

.po-link:hover .acess .p-link {
  color: #5bbb7b;
  text-decoration: underline;
}

div.add-to-favorite:hover i {
  color: white;
}

/*******************$ 
* REUTILISABLE
*********************/

/* WRAPPER */
.wrapper-content {
  padding-left: 5em;
  padding-right: 5em;
}

/* SERVICE CARD */
.service-carde {
  width: 300px;
  max-width: 305px;
  height: 400px;
  /* background: #000; */
}
.service-carde .service-img {
  height: 200px;
  width: 300px;
  max-width: 305px;
}
.service-carde .bottom-part {
  height: 200px;
  width: 300px;
  max-width: 305px;
}
.service-carde .carde-link {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.service-carde .favorite-contaner {
  margin-right: 0.7em;
}
.service-carde p.first-link,
.service-carde div.second-link p {
  transition: ease-in 0.3s color;
}
.service-carde:hover p.first-link {
  color: #5bbb7b;
}
.service-carde div.second-link:hover p {
  color: #5bbb7b;
}
.service-carde .service-view-button {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  background-color: #5bbb7b10;
  color: #5bbb7b;
  border-radius: 5px;
  transition: ease-in 0.3s color, 0.3s linear background-color;
}
.service-carde .service-view-button:hover {
  background-color: #5bbb7b;
  color: #fff;
}
/* ************************************ */
/* *********************************** */
.t-overlay-dot {
  width: 2rem;
  height: 2rem;
  background-color: #e7c04031;
  border-radius: 100%;
}

/* OVERLAY */
.overlay {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.4);
  visibility: hidden;
  opacity: 0;
  will-change: visibility, opacity;
}
.show-overlay {
  cursor: not-allowed;
  opacity: 1;
  visibility: inherit;
  height: 100vh;
}

/* *******************************
*
* MENU DROPDOWN
*
********************************* */
.sub-menu {
  z-index: 100;
  padding: 2.5em;
  background-color: white;
  display: none;
  visibility: hidden;
  transition: visibility 0.4s;
  will-change: visibility;
}

.sub-menu ul li {
  padding: 0.5em;
  margin-top: 0.5em;
  font-size: 15px;
  font-weight: 400;
  border-radius: 5px;
  transition: ease-in background-color 0.2s, ease-in color 0.2s;
}
.sub-menu ul li:hover {
  background-color: #26564f;
  color: #fff;
}
.categories-label:hover .sub-menu {
  position: absolute;
  display: block;
  visibility: visible;
}

/* ***************************************
******************************************
  GLASS EFFECTS
******************************************
******************************************/
.search-glass {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background: rgba(4, 4, 4, 0.339);
  /* border-radius: 16px; */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.3px);
  -webkit-backdrop-filter: blur(6.3px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.search-glass-contents {
  display: flex;
  padding-top: 30px;
  flex-direction: column;
  gap: 5px;
  max-width: 569px;
  width: 100%;
  /* background-color: #5bbb7b; */
}
/*** search bar css ****/
.search-bar {
  display: flex;
  justify-content: space-between;
}
.search-bar,
.not-result,
.search-result-container {
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  width: 100%;
  background-color: #ffffff;
}
.search-bar input {
  width: 90%;
  outline: none;
  font-weight: 400;
}
/* search results */
.search-result-container {
}
.search-result-container ul li {
  font-weight: 400;
  padding: 0.5em;

  transition: ease-in color 0.3s, ease-in background-color 0.3s;
}
.search-result-container ul li:hover {
  color: #4a8e60;
  background-color: #5bbb7b2d;
  cursor: pointer;
}

/* not result */
.not-result {
  display: flex;
  justify-items: center;
}

/* search glass close button */
.close-button {
  height: 1.5em;
  transition: color 0.4 ease-in;
}
.close-button:hover {
  cursor: pointer;
  color: rgb(204, 6, 6);
}

/* ALERT DIALOG STYLE */
.alert-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background-color: rgba(204, 6, 6, 0.189);
  color: rgb(204, 6, 6);
  border-radius: 100%;
  font-size: 15px;
}
