.button-group button{
    font-size: 0.75rem;
    font-weight: 600;
    height: 2.7rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 5px;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    transition: border-color 0.3s, color 0.3s;

}

.active-button{
  border: solid 1px #bdbdbd;
  color: #5BBB7B;
}

.button-group button:hover{
  border-color: #bdbdbd;
  color: #5BBB7B;
}

@media screen and (max-width: 1270px){
  .popularServices{
    padding: 0 2em;
  }

  .p-title-container{
    display: grid;
  }
  .p-title-container .button-group{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    margin-top: 1rem;
  }
}

@media screen and (max-width: 969px){
 

 
   
  .p-title-container h2{
    font-size: 1.3rem;
  }

  

}
@media screen and (max-width: 767px){

  .p-title-container .button-group{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    margin-top: 1rem;
  }
}

@media screen and (max-width: 1199px){
  div.p-service-content{
    flex-direction: column;
  }

  div.p-service-content div.flex-item{
    width: 100%;
  }

  div.p-service-content div.flex-item .po-link{
    display: grid;
    grid-template-columns: 2fr 4fr;
   
  }

  div.p-service-content div.flex-item .left-container{
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  
}

@media screen and (max-width: 800px){

  .po-link .p-link{
    font-size: 1rem;
    font-weight: 600;
  }
 

  div.p-service-content div.flex-item .po-link{
    display: grid;
    grid-template-columns: 3fr 4fr;
   
  }
}

@media screen and (max-width: 650px){

  div.p-service-content div.flex-item .po-link{
    display: grid;
    grid-template-columns: 3fr 2fr;
   
  }
}

@media screen and (max-width: 579px){

  div.p-service-content div.flex-item .po-link{
    display: flex;
    flex-direction: column;
    
   
  }

  .po-link .left-container{
    padding: 1rem;
  }

  .po-link .p-link{
    font-size: 1.2rem;
    font-weight: 400;
  }

}





