/********************** 
*
*   CATEGORIES STYLE CONFIG
*
***********************/
:root {
  --primary-color: #ff6b6b;
  --cat-secondary-color: #5bbb7b;
  --secondary-dark-color: #453c5c;

  --white-color: #ffffff;
  --light-bg-color: #f2f3f5;
  --light-text-color: #7c899a;
  --border-color: #e5e8ec;
  --dark-color: #0a021c;
  --stars-color: #e1c03e;

  --font-small: 13px;
  --font-smaller: 11px;

  --percent100: 100%;
  --percent50: 50%;

  --fw3: 300;
  --fw5: 500;
  --fw6: 600;
  --fw7: 700;
  --fw8: 800;

  --trans-background-color: background-color 0.3s ease-in, color 0.3s ease-in;
  --trans-background: background-color 0.3s;
  --trans-color: color 0.3s;
}

.categories {
  font-family: "DM Sans", sans-serif;
  font-weight: 300;
}

.categories .banner,
.single_service_details .banner {
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 18em;
  border-radius: 1em;
}
.categories .banner {
  background-image: url("./banner3.jpg");
}

.categories .banner .banner-title {
  font-size: 2em;
  line-height: 1.7;
}
.categories .banner .small-text {
  font-size: 15px;
}
.categories .banner .banner-demo-container {
  display: flex;
  margin-top: 2.3em;
  gap: 0.8em;
  align-items: center;
}
.categories .banner .banner-demo-container div {
  width: 3em;
  height: 3em;
  border: 1px solid --border-color;
  background-color: #ffffff;
  border-radius: 100%;
  transition: var(--trans-background-color);
}
.banner .banner-demo-container div:hover {
  background-color: #ac0707;
  color: var(--white-color);
  cursor: pointer;
}
.categories .filter-container {
  display: flex;
  justify-content: space-between;
  gap: 1em;
}
.categories .filter-container .filter-buttons {
  display: flex;
  gap: 1em;
}
.filter-container .filter-buttons button {
  border: 1px solid var(--border-color);
  padding: 0.6em;
  border-radius: 0.3em;
}
.filter-container .filter-buttons button:first-child {
  background-color: rgba(15, 151, 101, 0.08);
  transition: var(--trans-background-color);
}
.filter-container .filter-buttons button:first-child:hover {
  cursor: pointer;
  color: var(--white-color);
  background-color: var(--cat-secondary-color);
  /* border: 1px solid var(--cat-secondary-color); */
}
.filter-container .filter-buttons button:nth-child(2) {
  width: 11.2em;
  display: flex;
  justify-content: space-between;
}
.categories .filter-container .selected-options {
  display: none;
  opacity: 0;
  background-color: var(--white-color);
  z-index: 10;
  width: 11.2em;
  border: 1px solid var(--border-color);
  border-radius: 0.3em;
  transition: 0.3s ease opacity 0.3s ease display;
  will-change: display opacity;
}
.show-options {
  display: block !important;
  opacity: 1 !important;
}
.categories .filter-container .selected-options ul li {
  padding: 0.3em 1em 0.3em 1em;
  transition: var(--trans-background);
}
.categories .filter-container .selected-options ul li:hover {
  background-color: #c9c8c877;
  cursor: pointer;
}
.categories .filter-container .selected-options ul li.active {
  background-color: #c9c8c8;
}

.categories .cat-service-cards,
.saerch-result-page .cat-service-cards {
  display: flex;
  justify-items: center;
  flex-wrap: wrap;
  gap: 2em;
}
.categories .cat-service-cards .flex-item,
.saerch-result-page .cat-service-cards .flex-item {
  flex: 0 0 23.2%;
  box-sizing: border-box;
}
.categories .paginator,
.categories .paginator div,
.saerch-result-page .paginator,
.saerch-result-page .paginator div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.categories .paginator div,
.saerch-result-page .paginator div {
  height: 2.7em;
  width: 2.7em;
  border-radius: 100%;
  border: solid 1px var(--border-color);
  cursor: pointer;
}
.categories .paginator .active,
.saerch-result-page .paginator .active {
  background-color: #5bbb7b;
  color: var(--white-color);
  border: 1px solid #5bbb7b;
}
.categories .paginator div:nth-child(2),
.saerch-result-page .paginator div:nth-child(2) {
  transition: var(--trans-background-color);
}
.categories .paginator div:nth-child(2):hover,
.saerch-result-page .paginator div:nth-child(2):hover {
  background-color: #5bbb7b;
  color: var(--white-color);
  border: 1px solid #5bbb7b;
}
.categories .paginator div:nth-child(3),
.saerch-result-page .paginator div:nth-child(3) {
  transition: ease-in 0.3s transform, ease-in 0.3s border-color;
}
.categories .paginator div:nth-child(3):hover,
.saerch-result-page .paginator div:nth-child(3):hover {
  transform: scale(1.2);
  border-color: black;
}

/* CAT SIDE FILTER */
.categories .cat-side-filter {
  position: fixed;
  top: 0;
  width: 360px;
  height: 100vh;
  z-index: 1000;
  overflow: auto;
  transition: transform 0.4s, visibility 0.4s;
  will-change: transform, visibility;
  background-color: white;
  padding: 0 1.5em 0 1.5em;
}
.show-cat-side-filter {
  transform: translateX(0%);
}

.hide-cat-side-filter {
  transform: translateX(-100%);
}
.categories .filter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2em 0 1.2em 0;
  border-bottom: 1px solid var(--border-color);
}
.filter-header h3 {
  font-weight: 500;
  font-size: 1.2em;
}
.filter-header .close-button,
.paiement-side-bar .close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5em;
  height: 2.5em;
  background-color: #5bbb7b28;
  border-radius: 5px;
  transition: var(--trans-background-color);
}
.filter-header .close-button:hover {
  background-color: #5bbb7b;
  color: var(--white-color);
  cursor: pointer;
}
.cat-side-filter .filter-section {
  padding: 1.2em 0 1.2em 0;
  display: flex;
  flex-direction: column;
  gap: 1em;
  border-bottom: 1px solid var(--border-color);
}
.cat-side-filter h3.title {
  font-weight: 400;
  font-size: 1.3em;
}
.cat-side-filter .filter-section .filter-cat-body :where(ul) li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0.5em;
  gap: 0.75em;
  font-weight: 300;
  font-size: 16px;
}
.cat-side-filter .filter-section .filter-cat-body .show {
  color: #5bbb7b;
  font-weight: 500;
}
.cat-side-filter .filter-section .filter-cat-body .show-text {
  text-decoration: underline;
  cursor: pointer;
}
.cat-side-filter .filter-section select {
  height: 3.6em;
  outline-color: var(--border-color);
  border-radius: 5px;
  background-color: rgb(249, 249, 249);
  border: 1px solid var(--border-color);
  padding-left: 1em;
  padding-right: 1em;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url("drop-down.png") no-repeat right center;
}
.cat-side-filter .filter-section select option:nth-child(1) {
  font-size: 3em;
}

.cat-side-filter .filter-location {
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  background-color: rgb(249, 249, 249);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  height: 3.6em;
}
.cat-side-filter .filter-section .buget-min-max {
  display: flex;
  padding-left: 1em;
  padding-right: 0;
  justify-content: space-between;
}
.cat-side-filter .filter-section .buget-min-max div {
  background-color: #5bbb7b47;
  color: #5bbb7b;
  font-weight: 500;
  padding: 0.3em 0.75em 0.3em 0.75em;
  border-radius: 5px;
}

.cat-side-filter .filter-section .ranger div.slider {
  height: 5px;
  position: relative;
  background-color: var(--border-color);
  border-radius: 5px;
}
.cat-side-filter .filter-section .ranger div.slider .progress {
  height: 5px;
  position: absolute;
  left: 0;
  right: 0;
  background-color: #5bbb7b;
}
.cat-side-filter .filter-section .ranger .range-inputs {
  position: relative;
}
.ranger .range-inputs input {
  position: absolute;
  top: -5px;
  height: 5px;
  width: 100%;
  -webkit-appearance: none;
  background: none;
  pointer-events: none;
}
input[type="range"]::-webkit-slider-thumb {
  height: 17px;
  width: 17px;
  -webkit-appearance: none;
  border: 3px solid #5bbb7b;
  background-color: var(--white-color);
  border-radius: 50%;
  pointer-events: auto;
}
.cat-side-filter .filte-footer button {
  font-weight: 500;
  transition: var(--trans-background-color), 0.3s ease border;
}
.cat-side-filter .filte-footer button:hover {
  background-color: white;
  color: #5bbb7b;
  border: 1px solid #5bbb7b;
}

/* ***********************************************
  ****************** CATEGORY SELECTOR **************/
.backdrop-gb {
  margin-top: 20px;
  background-color: #1d402902;
}
.categories_list_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  .show-more-show-less-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      border-radius: 100%;
      width: 50px;
      height: 50px;
      background-color: #5bbb7b3e;
      color: #5bbb7b;
      transition: all ease-in 0.3s;

      i {
        font-size: 25px;
      }
    }
    button:hover {
      transform: scale(1.1);
      background-color: #306140;
      color: whitesmoke;
    }
  }
}

/* ******************************************
  *********** CATEGORIES PAGE RESPONSIVE *******
  **********************************************/

.categories {
  @media screen and (max-width: 1024px) {
    .banner {
      border-radius: 0px;
    }
    .cat-service-cards {
      flex-wrap: wrap;
    }
    .wrapper-content {
      padding: 0.5rem 1rem;
    }
  }
  @media screen and (max-width: 425px) {
    .banner .banner-demo-container {
      display: none;
    }
    .filter-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .cat-service-cards {
      justify-content: center;
      align-items: center;
    }
  }
}

.underlined {
  /*   background: red; */
  position: relative;
}

.underline-mask:after {
  content: "";
  position: absolute;
  top: 95%;
  width: 150%;
  aspect-ratio: 3 / 1;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 50%;
  border: 6px solid hsl(280 80% 50%);
  /* Use a conic gradient mask to hide and show the bits you want */
  --spread: 140deg;
  --start: 290deg;
  mask: conic-gradient(
    from var(--start),
    white 0 var(--spread),
    transparent var(--spread)
  );
}

.underline-overflow {
  display: inline-block;
  /* A little extra padding and overflow hidden   */
  overflow: hidden;
  padding-bottom: clamp(1rem, 2vmin, 2rem);
}
.underline-overflow:after {
  content: "";
  position: absolute;
  top: 100%;
  height: 150%;
  aspect-ratio: 2.5 / 1;
  left: 50%;
  transform: translate(-50%, -10%);
  border-radius: 50%;
  border: 6px solid hsl(10 80% 50%);
}

.underline-clip:after {
  content: "";
  position: absolute;
  top: 95%;
  width: 150%;
  aspect-ratio: 3 / 1;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 50%;
  border: 6px solid hsl(130 80% 50%);
  /* Use a clip-path to hide and show the bits you want */
  clip-path: polygon(0 0, 50% 50%, 100% 0);
}

/* ******************************************
  *********** SINGLE SERVICE PAGE RESPONSIVE **
  **********************************************/
.empty-service-container {
  .redirect-link {
    padding: 5px;
    border-radius: 5px;
    font-size: 16px;
    letter-spacing: -0.5px;
    font-weight: 500;
    color: #1b3c26;
    transition: all ease-in 0.3s;
  }
  .redirect-link:hover {
    background-color: #5bbb7b1e;
    color: #5bbb7b;
  }
}
