.link:hover h3 {
  color: #5bbb7b;
}
.categories-content .link {
  background-color: rgba(128, 128, 128, 0.1);
  border-radius: 5px;
}
.categories-content {
  grid-template-columns: repeat(4, 1fr); /* Crée 4 colonnes de largeur égale */
}

.categories-content,
.categories-content2 {
  align-items: center;
  display: grid;
  grid-gap: 1rem; /* Espacement entre les éléments */
  justify-content: space-between;
}
.categories-content2 {
  grid-template-columns: repeat(5, 1fr); /* Crée 4 colonnes de largeur égale */
}
.categories-content2 .categories-bottom {
  background-color: #f5f5f5;
  max-width: 270px;
  width: 100%;
}
.categoies-overlay {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;

  padding: 0.5rem;
  position: absolute;
  bottom: 0;
  top: 0;
  width: 100%;
  max-width: 270px;
  height: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.9304096638655462) 40%,
    rgba(0, 0, 0, 0.4906337535014006) 90%
  );
  color: #fafafa;
}
.categoies-overlay h1 {
  font-size: 17.5px;
  font-weight: 600;
}

.categories-bottom small:first-child {
  color: #919191;
}
.categories-bottom small:first-child,
.categoies-overlay small:first-child {
  text-decoration: underline;
  font-size: 12px;
}
.categories-bottom h1 {
  font-size: 17.5px;
  font-weight: 600;
}
.categories-bottom small.last-child {
  color: #626262;
}

.category_link_container {
  cursor: pointer;
  display: flex;
  gap: 1rem;
  max-width: 320px;
  width: 100%;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: all ease 0.3s;
}
.category_link_container:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  border: none;
}
.category_link_container .icon_container .ri-icon {
  font-size: 3rem !important;
}
.category_link_container .icon_container .icon-dot {
  width: 35px;
  height: 35px;
  z-index: -10px !important;
  background-color: #f7d00c2a;
  top: 20px;
  right: 0;
  border-radius: 100%;
}
.category_link_container .category-text small {
  color: #626262;
  font-weight: 500;
}
.category_link_container .category-text p {
  font-size: 18px;
  font-weight: 600;
}

@media screen and (max-width: 1270px) {
  .categories-content {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 969px) {
  .categories-content {
    grid-template-columns: repeat(3, 1fr);
  }

  div.categories-title h2 {
    font-size: 1.3rem;
  }

  div.categories-title span {
    font-size: 0.6rem;
  }

  .categories-content .link .img {
    transform: scale(0.8);
  }

  .categories-content .category-title h3 {
    font-size: 0.8rem;
  }

  .categories-content .category-title small {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 767px) {
  .categories-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}
@media screen and (max-width: 568px) {
  .categories-content,
  .categories-title {
    display: flex !important;
    flex-direction: column !important;
  }
  .categories-title {
    gap: 1.5rem !important;
  }
  .category_link_container {
    max-width: 400px !important;
    width: 400px !important;
  }
}

@media screen and (max-width: 425px) {
  .category_link_container {
    max-width: 300px !important;
    width: 300px !important;
  }
}
